.filt{
    background: #ffe9d9;
    height:200px;
}
div.cnop a{
    color: #007bff;
    background: white;
}
div.filt a.view{
    background: #f46d3e;;
}
ul{
    list-style: none;
}
.marg{
    margin-right: 31px;
}
div.cardian span{
    padding-left: 10px;
}
main .container,header .container{
    background: white;
}
body{
    background: #eaedf3;
}