header.row{
    background: #dafaff;
}
img.card-img-top{
    

}
div.imhg img{
    width: 110px;
    height: 100px;
}
div.slova a{
    color: rgb(20, 16, 16);
    
    
}
div.ss span{
    background: rgba(227, 97, 97, 0.1);
    height: 50px;
    line-height: 50px;
}
footer{
    background: #f5f5f5;
}
footer div.fontt{
    color: #a3a3a3;
    font-size: 14px;
}
a.icon-instagram,.icon-twitter-1,.icon-facebook-1,.icon-user-male,.icon-heart-empty{
    font-size: 25px;
}

/* page1 styles */
