
.icon-search:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-facebook-1:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-adult:before { content: '\e805'; } /* '' */
.icon-clock-1:before { content: '\e806'; } /* '' */
.icon-clock-2:before { content: '\e807'; } /* '' */
.icon-wallet:before { content: '\e808'; } /* '' */
.icon-flash:before { content: '\e809'; } /* '' */
.icon-lodging:before { content: '\e824'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */